<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>PostOfficeURL</key>
		<string>https://snailmail-production.herokuapp.com/</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>PostOfficeURL</key>
		<string>https://snailmail-production.herokuapp.com/</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>PostOfficeURL</key>
		<string>https://snailmail-staging.herokuapp.com/</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>PostOfficeURL</key>
		<string>http://localhost:9292</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>PostOfficeURL</key>
		<string>http://localhost:9292</string>
	</dict>
</dict>
</plist>
